/* .img-1{
    width: 100%;
    height:500px;
}
.card{
    width: 50%;
    margin-top: 10px;
    border: 5px solid red;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
}
.main{
width: 75%;
margin: auto;
}
.img-3{
    border-radius: 50%;
}
.center{
    text-align: center;
}
.w-50{
    width: 50%;
}
.chat-icon{
    width: 90px;
    position: fixed;
    right:25px;
    bottom: 25px;
    background-color: orange;
}
.search{
    margin-top: 10px;
    position: relative;
}
.suggestions{
    position:absolute;
    top: 20px;
} */
      body {
        font-family: "Open Sans";
        background-color: rgb(247, 250, 255);
      }
      .main {
        width: 75%;
        margin: auto;
      }
      .header {
        background-color: #fff;
        height: 75px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .logo {
        font-weight: 800;
        font-size: 30px;
        margin: 20px;
        color: red;
      }
      .list-items {
        display: flex;
      }
      li {
        list-style: none;
        margin: 10px;
      }
      .form-element{
        margin: 10px;
      }
      .head-section{
        margin: 25px;
        display: flex;
        flex-wrap: wrap;
      }
      .heading{
        width: 65%;
      }
      .form-div{
        background-color: #fff;
        height: 300px;
        width: 30%;
        padding: 30px;
      }
      .input{
        line-height: 2;
        width: 100%;
        margin:5px;
      }
      .steps-section{
        background-color:rgba(0,201,167,0.1);
        min-height: 300px;
      }.text-center{
        text-align: center;
      }
      .pt-50{
        padding:30px;
      }
      .card{
        background-color: #fff;
        padding: 10px;
      }
      .steps{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;
      }